{% extends "post/base.html" %}

{% block content %}
    <div class="container">
    	<div class="row">
    		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    			<div class="post-heading">
    				<h1>{{ post.title }}</h1>
    				{% if post.published_at %}
    				<span class="meta">{{post.published_at}}</span>
    				{% endif %}
    			</div>
    		</div>			
    	</div>
    </div>

    <article>
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    				{{ post.text|linebreaks }}
    			</div>
    		</div>
    	</div>
    </article>
{% endblock %}