<html>
    <head>
        <title>Simple Django blog - Awesome Django Girls </title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-clean-blog/1.0.4/css/clean-blog.min.css
">
    </head>
    <body>
        <div>
            <h1><a href="">Simple Django Blog</a></h1>
        </div>
	{% for post in posts %}
        <div>
            <p>published: {{post.published_at}}</p>
            <h2><a href="">{{post.title}}</a></h2>
            <p>{{post.text|linebreaks}}</p>
        </div>
	{% endfor %}
    
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-clean-blog/1.0.4/js/clean-blog.min.js"></script>
    </body>
</html>